.detail-page {
  position: relative;
  flex: 1;
  justify-content: space-around;
  padding: var(--rtc-padding-l);
  gap: var(--rtc-gap-s);

  isolation: isolate;
  /* Impide que el componente hijo .detail-image, al tener un z-index -1, quede por debajo del background-image de #app y no sea visible */
  /* Es decir, isolation: isolate hace que todos los z-index dentro del contenedor (en este caso .detail-page) omitan lo que hay fuera de él*/
  /* Realmente le estamos diciendo: "Si así lo pido (mediante los z-index), ponme al fondo de la habitación (.detail-page), pero nunca al fondo del edificio (#app)"*/
}

.detail-page h1,
.detail-page h2,
.detail-page h3,
.detail-page h4,
.detail-page p,
.detail-page span {
  color: var(--rtc-color-1);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.detail-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.6);
  border-bottom: 5px solid var(--rtc-color-1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
}

.detail-title-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  gap: var(--rtc-gap-s);
  flex-wrap: wrap;
}

.detail-title-container div {
  width: 100%;
}

.detail-title-container h1 {
  font-size: 2.5rem;
  text-align: center;
}

.detail-separator {
  width: 100%;
}

.detail-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-s);
  flex: 1;
}

.detail-description-container {
  flex-direction: row;
  background-color: color-mix(in srgb, var(--rtc-color-1), transparent 80%);
  padding: var(--rtc-padding-s);
  border: 2px solid var(--rtc-highlightColorSecondary);
  gap: var(--rtc-gap-s);
  backdrop-filter: blur(2px);
}

.detail-description-container p {
  font-size: 1.1rem;
  font-weight: 400;
  text-align: center;
  text-shadow: 1px 2px 3px rgb(0, 0, 0);
}

.detail-widgets-container {
  display: flex;
  flex-direction: row;
  gap: var(--rtc-gap-s);
  flex: 1;
}

/*!  MEDIA  */
@media (max-width: 1800px) {
  /* DESKTOP or less */
  .detail-widgets-container {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  /* LAPTOP - TABLET or less */
}

@media (max-width: 769px) {
  /* SMALL TABLET or less */
  .detail-page {
    padding: var(--rtc-padding-m);
  }
  .detail-title-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  /* MOBILE or less */
}
