.weather-widget {
  z-index: 1;

  background-color: color-mix(in srgb, var(--rtc-color-3), transparent 30%);
  padding: var(--rtc-padding-l);
  border: 2px solid var(--rtc-highlightColorSecondary);

  width: 25%;
}

div.weather-title {
  gap: var(--rtc-gap-xs);
}

div.weather-info {
  justify-content: space-evenly;
  flex: 1;
}

div.weather-info div {
  gap: var(--rtc-gap-m);
  font-weight: 500;
  letter-spacing: 2px;
}

.weather-temp {
  font-weight: 800;
  font-size: 1.8rem;
  letter-spacing: 2px;
}
