.live-flights-widget {
  z-index: 1;

  background-color: color-mix(in srgb, var(--rtc-color-2), transparent 30%);
  padding: var(--rtc-padding-l);
  border: 2px solid var(--rtc-highlightColorSecondary);

  gap: var(--rtc-gap-l);
  flex: 1;
}

.live-flights-widget .filter-bar {
  width: 80%;

  display: flex;
  justify-content: space-between;
}

hr.live-flight-separator {
  width: 100%;
}

.live-flights-widget .filter-bar button {
  background-color: transparent;
  color: var(--rtc-color-1);
  width: 150px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.116);
  border-radius: var(--rtc-border-radius-square);
  padding: var(--rtc-padding-xs);

  font-size: 0.9rem;
}

.live-flights-widget .filter-bar button.active {
  background: rgba(0, 0, 0, 0.521);
  width: 150px;
  border: 2px solid var(--rtc-color-1);
}

.live-flights-widget ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-m);
  flex: 1;

  align-items: center;
}

.live-flights-widget .flights-header span {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.445);
}

.live-flights-widget .flights-header,
.live-flights-widget li {
  display: flex;
  gap: var(--rtc-gap-l);
  text-align: center;
}

.live-flights-widget span {
  min-width: 110px;
}

span.flight-delay-time {
  color: rgb(120, 247, 120);
  text-transform: capitalize;
}

span.flight-delay-time.delayed {
  color: rgb(255, 230, 0);
  text-transform: capitalize;
}

span.status {
  text-transform: capitalize;
}
