.live-flights-widget {
  z-index: 1;

  background-color: color-mix(in srgb, var(--rtc-color-2), transparent 30%);
  padding: var(--rtc-padding-l);
  border: 2px solid var(--rtc-highlightColorSecondary);
  backdrop-filter: blur(2px);

  gap: var(--rtc-gap-s);
  width: 100%;
}

.live-flights-widget .filter-bar {
  width: 80%;

  display: flex;
  gap: var(--rtc-gap-l);
  justify-content: center;
}

hr.live-flight-separator {
  width: 100%;
}

.live-flights-widget .filter-bar button {
  background-color: transparent;
  color: var(--rtc-color-1);
  width: 120px;
  border: 2px solid black;
  background: rgba(255, 255, 255, 0.116);
  border-radius: var(--rtc-border-radius-square);
  padding: var(--rtc-padding-xs);

  font-size: 0.9rem;
}

.live-flights-widget .filter-bar button.active {
  background: rgba(0, 0, 0, 0.521);
  border: 2px solid var(--rtc-color-1);
}

.live-flights-widget .flights-info-container {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-s);
  flex: 1;
}

.live-flights-widget ul {
  display: flex;
  flex-direction: column;
  gap: var(--rtc-gap-m);
  align-items: center;
}

.live-flights-widget li {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.live-flights-widget .flights-header span {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.445);
}

.live-flights-widget .flights-header,
.live-flights-widget .flights-info {
  display: flex;
  gap: var(--rtc-gap-l);
  text-align: center;
}

.live-flights-widget span {
  min-width: 110px;
}

span abbr.iata-info {
  text-decoration: underline dotted;
  text-underline-offset: 4px;

  cursor: help;
  border-bottom: none;
}

span abbr.iata-info:hover {
  color: var(--rtc-color-3);
  opacity: 1;
}

span.flight-delay-time {
  color: rgb(120, 247, 120);
  text-transform: capitalize;
}

span.flight-delay-time.delayed {
  color: rgb(255, 230, 0);
  text-transform: capitalize;
}

span.status {
  text-transform: capitalize;
}

/*!  MEDIA  */
@media (max-width: 1800px) {
  /* DESKTOP or less */
}

@media (max-width: 1024px) {
  /* LAPTOP - TABLET or less */
  .live-flights-widget .flights-header,
  .live-flights-widget .flights-info {
    gap: 0;
  }

  .live-flights-widget .filter-bar {
    width: 100%;
  }
}

@media (max-width: 769px) {
  /* SMALL TABLET or less */

  .live-flights-widget .filter-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }

  .live-flights-widget .filter-bar button {
    width: 100%;
  }

  .live-flights-widget .flights-info-container {
    flex-direction: row;
    width: 100%;
    gap: 0;
    justify-content: space-between;
  }

  .live-flights-widget .flights-header {
    text-align: start;
  }

  .live-flights-widget ul {
    flex: 1;
    gap: 0;
  }

  .live-flights-widget li {
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid white;
  }

  .live-flights-widget .flights-header,
  .live-flights-widget .flights-info {
    flex-direction: column;
    gap: var(--rtc-gap-xs);
    padding: var(--rtc-padding-s) 0;
  }

  .live-flights-widget .flights-header:last-child,
  .live-flights-widget li:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

@media (max-width: 480px) {
  /* MOBILE or less */
}
